{% extends 'base.html.twig' %}
{% block body %}
<section class="section page-title">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 m-auto">
                <!-- Page Title -->
                <h1>{{ categorie.nomcateg }}</h1>
                <!-- Page Description -->
                <p>{{ categorie.description }}</p>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-8 m-auto">
                <h3>Tri par prix</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8 m-auto">
                <button class="btn btn-info" id="down">Croissant <span class="ti-arrow-up"></span></button>
                <button class="btn btn-secondary" id="up">Décroissant <span class="ti-arrow-down"></span></button>
            </div>
            </div>
        </div>
    </div>
</section>
<section class="post-grid section pt-0">
    <div class="container">
        <div id="result" class="row" >
            {% for p in produits %}
                {% if p.quantite > 0 %}
            <div class="col-lg-4 col-md-6" >
                <article class="post-sm" style="border:1px">
                    <div class="post-thumb" style="border:1px">
                        <a href="#" ><img class="w-100" height="250" src="{{ asset('uploads/produits/' ~ p.image ) }}" alt="Post-Image"></a>
                    </div>
                    <div class="post-title">
                        <h3>{{p.nomproduit}}</h3>
                    </div>
                    <div class="post-meta">
                        <ul class="list-inline post-tag">
                            <li class="list-inline-item">
                                <strong>Quantité:</strong>{{p.quantite}}
                            </li>
                            <li class="list-inline-item">
                                <strong>Prix:</strong>{{p.prix}}
                            </li>
                        </ul>
                    </div>
                    <div class="post-details">
                        <p>{{p.description}}</p>
                        <a href="{{path("cart_add", {id: p.idproduit})}}" class="btn btn-success">
                            <i class="bi bi-cart-plus"></i> Ajouter
                        </a>
                    </div>
                </article>
            </div>
                {% endif %}
            {% endfor %}
        </div>
        {{ knp_pagination_render(produits,('paginator/pagination.html.twig')) }}
    </div>
</section>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function() {
            var searchRequest = null;
            $("#up").click(function() {
                var that = this;
                var val = {{ categorie.idcateg }};
                var entitySelector = $("#result").html('');
                if (searchRequest != null)
                    searchRequest.abort();
                searchRequest = $.ajax({
                    type: "POST",
                    url: "/triProduits",
                    dataType: "text",
                    data:{
                        'type':1,
                        'idCateg':val
                    },
                    success: function(msg){
                        var result = JSON.parse(msg);
                        console.log(result)
                        if(result.length!==0){
                            for(let i = 0; i < result.length; i++){
                                var img="{{ asset('uploads/produits/') }}"+result[i].image;
                                entitySelector.append(
                                '<div class="col-lg-4 col-md-6">'+
                                    '<article class="post-sm">'+
                                    '<div class="post-thumb">'+
                                    '<a href="#" ><img class="w-100" src="'+img+'" alt="Post-Image"></a>'+
                                    '</div>'+
                                    '<div class="post-title">'+
                                    '<h3><a href="#" >'+result[i].nomproduit+'</a></h3>'+
                                '</div>'+
                                '<div class="post-meta">'+
                                    '<ul class="list-inline post-tag">'+
                                    '<li class="list-inline-item">'+
                                    '<strong>Quantité:</strong>'+result[i].quantite+
                                '</li>'+
                                '<li class="list-inline-item">'+
                                    '<strong>Prix:</strong>'+result[i].prix+
                                '</li>'+
                                '</ul>'+
                                '</div>'+
                                '<div class="post-details">'+
                                    '<p>'+result[i].description+'</p>'+
                                    '<a href="/card/add/'+result[i].idproduit+'" class="btn btn-success">'+
                                    '<i class="bi bi-cart-plus"></i> Ajouter'+
                                    '</a>'+
                                    '</div>'+
                                    '</article>'+
                                    '</div>'
                                );
                            }
                        }
                        else{
                            entitySelector.append('<div class="error">Aucun Produit trouvé</div>');
                        }
                    }
                });
            });
            $("#down").click(function() {
                var that = this;
                var val = {{ categorie.idcateg }};
                var entitySelector = $("#result").html('');
                if (searchRequest != null)
                    searchRequest.abort();
                searchRequest = $.ajax({
                    type: "POST",
                    url: "/triProduits",
                    dataType: "text",
                    data:{
                        'type':2,
                        'idCateg':val
                    },
                    success: function(msg){
                        var result = JSON.parse(msg);
                        if(result.length!==0){
                            for(let i = 0; i < result.length; i++){
                                var img="{{ asset('uploads/produits/') }}"+result[i].image;
                                entitySelector.append(
                                    '<div class="col-lg-4 col-md-6">'+
                                    '<article class="post-sm">'+
                                    '<div class="post-thumb">'+
                                    '<a href="#" ><img class="w-100" src="'+img+'" alt="Post-Image"></a>'+
                                    '</div>'+
                                    '<div class="post-title">'+
                                    '<h3><a href="#" >'+result[i].nomproduit+'</a></h3>'+
                                    '</div>'+
                                    '<div class="post-meta">'+
                                    '<ul class="list-inline post-tag">'+
                                    '<li class="list-inline-item">'+
                                    '<strong>Quantité:</strong>'+result[i].quantite+
                                    '</li>'+
                                    '<li class="list-inline-item">'+
                                    '<strong>Prix:</strong>'+result[i].prix+
                                    '</li>'+
                                    '</ul>'+
                                    '</div>'+
                                    '<div class="post-details">'+
                                    '<p>'+result[i].description+'</p>'+
                                    '<a href="/card/add/'+result[i].idproduit+'" class="btn btn-success">'+
                                    '<i class="bi bi-cart-plus"></i> Ajouter'+
                                    '</a>'+
                                    '</div>'+
                                    '</article>'+
                                    '</div>'
                                );
                            }
                        }
                        else{
                            entitySelector.append('<div class="error">Aucun Produit trouvé</div>');
                        }
                    }
                });
            });
        });
    </script>
     {% include "chat/index3.html.twig" %}


{% endblock %}
