{% extends 'base2.html.twig' %}

{% block content %}

    <table class="table">
        <tr>
            <th>Nom Produit</th>
            <th>Quantite</th>
            <th>Prix</th>
            <th>Description</th>
            <th>Image</th>

        </tr>
        <tbody>
        {% for p in produits %}
            <tr>
                <td>{{p.nomproduit}}</td>
                <td>{{p.quantite}}</td>
                <td>{{p.prix}}</td>
                <td>{{p.description}}</td>
                <td><img src="{{ asset('uploads/produits/' ~ p.image ) }}" alt="" width="200" height="200"></td>
                <td><a href="{{ path('updateProduit',{'id':p.idproduit}) }}">Update</a></td>
                <td><a href="{{ path('deleteProduit',{'id':p.idproduit}) }}">Supprimer</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
     <a class="btn btn-success" href="{{ path('addProduit',{'id':idCateg}) }}">Ajouter produit</a>
    <br>
    <a class="text-right" href="{{ path('categorieAdmin') }}">Voir les categories</a>
      
{% endblock %}
