{% extends 'base2.html.twig' %}


{% block title %}liste des utilisateurs{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">

            <div class="col order-last text-right">
                <a class="btn btn-outline-secondary" href="{{ path('app_user_tri') }}"><i class ="fa-solid fa-sort"></i> Trier la liste </a>
                <a class="btn btn-outline-info" href="{{ path('app_user_new') }}"><i class="fa-solid fa-circle-plus"></i> Ajouter Utilisateur</a>
            </div>
            <div class="col order-first">
                <h1 class="h3 mb-2 text-gray-800">La liste des utilisateurs</h1>
            </div>

        </div>
        <div class="row">
            <div class="col order-first text-right">
                {% include 'user/_filtre.html.twig' with {form : form} only %}
            </div>
            <div class="col">
                <div class="sidebar-search">
                    <div class="input-group custom-search-form">
                    </div>
                </div>
                <ul class="nav" id="side-menu">
                    <li>
                        <ul class="nav nav-second-level" id="entitiesNav">
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="col order-last">
            </div>

        </div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Email</th>
                <th>Roles</th>


                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.nom }}</td>
                <td>{{ user.prenom }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>

                <td>
                    <a href="{{ path('app_user_edit', {'id': user.id}) }}">edit</a>
                    <a href="{{ path('app_user_show', {'id': user.id}) }}">show</a>

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{#    <a href="{{ path('app_register') }}">Create new</a>#}

{% endblock %}
