{% extends 'base.html.twig' %}
{% block body %}
<div class="app-content">
    <div class="side-app">
        <div class="col-md-12 ">
            <a class="btn btn-outline-info" href="{{ path('adresses') }}"><i class="fa-solid fa-turn-down-left"></i>Retourner</a>

        </div>
        <div class="row justify-content-center">
            <div class="col-md-8 ">
                <div class="card m-b-20">
                    <div class="card-header">
                        <h3 class="card-title h3 mb-2 text-gray-800">Ajouter Adresse</h3>

                    </div>
                    {{ form_start(form,{attr:{novalidate:'novalidate'}}) }}
                    <div class="card-body">

                        <form>
                            <div class="form-group">
                                <label class="form-label" for="exampleInputname">Ville</label>
                                {{ form_widget(form.ville , {'attr': {'class': 'form-control form-control-user' , 'placeholder' : 'Ville'}} ) }}
                                {{ form_errors(form.ville) }}
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="exampleInputEmail2">Rue</label>
                                {{ form_widget(form.rue , {'attr': {'class': 'form-control form-control-user' , 'placeholder' : 'Rue'}} ) }}
                                {{ form_errors(form.rue) }}
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="exampleInputPassword2">Numero maison</label>
                                {{ form_widget(form.nummaison , {'attr': {'class': 'form-control form-control-user' , 'placeholder' : 'Numero de maison'}} ) }}
                                {{ form_errors(form.nummaison) }}
                            </div>
                            <div class="form-group mb-4 text-center">
                                <div class="checkbox checkbox-secondary ">
                                    {{ form_widget(form) }}
                                    <button type="SubmitType" class="btn btn-outline-primary ">Ajouter</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>

    </div>

    {% endblock %}

