{% extends 'base.html.twig' %}
{% block body %}
{% if article %}
<section class="section blog-single">
    <div class="container">
        <div class="row">
            <div class="col-md-10 m-auto">

                <article class="single-post">
                    <div class="post-title text-center">
                        <h1>{{article.titre}}</h1>
                        <ul class="list-inline post-tag">
                            <li class="list-inline-item">
                                <p>{{article.auteur.nom}} {{ article.auteur.prenom }}</p>
                            </li>
                            <li class="list-inline-item"  >
                                <p>{{ rating }}/5<i class="ti-star"></i></p>
                            </li>
                        </ul>
                    </div>
                    <div class="post-body">
                        <div class="feature-image">
                            <img class="img-fluid" src="{{ asset('uploads/articles/' ~ article.image ) }}" alt="feature-image">
                        </div>
                        <p>{{article.contenu}}</p>
                        <hr>
                        <div>
                            {{ form_start(formRating) }}
                            <div class="form-group">
                                <h4>Give us your feedback</h4>
                                {{ form_widget(formRating.note) }}
                            </div>
                                {{ form_widget(formRating.Submit) }}
                            {{ form_end(formRating) }}
                        </div>

                    </div>
                </article>
                <div class="about-author">
                    <div class="col-lg-8">
                        <h2>Comments</h2>
                        <div class="col-lg-12 row">
                            <div class="col-lg-4">
                                Trier par:
                            </div>
                            <div class="col-lg-4">
                                <button class="btn btn-info" id="recentes">Les plus récentes</button>
                            </div>
                            <div class="col-lg-4">
                                <button class="btn btn-secondary" id="anciens">les plus anciens</button>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div id="result">
                        {% for c in commentaires %}
                            <div class="media">
                                <div class="image">
                                    <img class="d-flex justify-content-center align-self-center" src="images/team/marketing-team-03.jpg" alt="author-image">
                                </div>
                                <div class="media-body align-self-center">
                                    <h3>{{ c.auteurC.nom }}</h3>
                                    <h6>{{ c.datepub|date }}</h6>
                                    <p>{{ c.contenuC }}</p>
                                    <ul class="list-inline social-links">
                                        <li class="list-inline-item">
                                            <a href="{{ path('comm_react', {'id' : c.idcommentaire}) }}" class ="btn btn-link js-like">
                                            {% if c.auteurC and c.isLikedByUser(c.auteurC) %}
                                                <i class="fas fa-thumbs-up"></i>
                                            {% else %}
                                                <i class="far fa-thumbs-up"></i>
                                            {% endif %}
                                           <span class ="js-likes"> {{  c.reacts|length }} </span></a>

                                        </li>
                                    </ul>
                                </div>
                                <div class="col-8 text-right">
                                    {% if app.user == c.auteurC %}
                                        <a href="{{ path('updateComment',{'id':c.idcommentaire}) }}" class="text-dark"><i class="ti-reload"></i></a>
                                        <a href="{{ path('deleteComment',{'id':c.idcommentaire}) }}" class="text-danger"><i class="ti-trash"></i></a>
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    {%  if app.user %}
                    {{ form_start(form,{attr:{novalidate:'novalidate'}})}}
                        <div class="form-group">
                            <label>Comment</label>
                            {{ form_widget(form.contenuC , {'attr': {'class': 'form-control' , 'placeholder' : 'contenu'}} ) }}
                            {{ form_errors(form.contenuC,{'attr':{'class':'text-danger'}}) }}
                        </div>
                        {{ form_widget(form.Submit , {'attr': {'class': 'btn btn-info'}} ) }}

                    {{ form_end(form) }}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function() {
        var searchRequest = null;
        $("#recentes").click(function() {
            var that = this;
            var val = {{ article.idArticle }};
            var entitySelector = $("#result").html('');
            if (searchRequest != null)
                searchRequest.abort();
            searchRequest = $.ajax({
                type: "POST",
                url: "/triComments",
                dataType: "text",
                data:{
                    'type':1,
                    'idarticle':val
                },
                success: function(msg){
                    var result = JSON.parse(msg);
                    if(result.length!==0){
                        for(let i = 0; i < result.length; i++){
                            console.log(result[i]);
                            entitySelector.append(
                                '<div class="media">'+
                                '<div class="image">'+
                                '<img class="d-flex justify-content-center align-self-center" src="images/team/marketing-team-03.jpg" alt="author-image">'+
                                '</div>'+
                                '<div class="media-body align-self-center">'+
                                '<h3>'+result[i].auteurC.nom+'</h3>'+
                                '<h6>'+result[i].datepub+'</h6>'+
                                '<p>'+result[i].contenuC+'</p>'+
                                '<ul class="list-inline social-links">'+
                                '<li class="list-inline-item"><a href="javascript:void(0)"><i class="ti-heart"></i> 2</a></li>'+
                                '</ul>'+
                                '</div>'+
                                '<div class="col-8 text-right">'+
                                '<a href="/updateComment/'+result[i].idcommentaire+'" class="text-dark"><i class="ti-reload"></i></a>'+
                                '<a href="/deleteComment/'+result[i].idcommentaire+'" class="text-danger"><i class="ti-trash"></i></a>'+
                                '</div>'+
                                '</div>'
                            );
                        }
                    }
                    else{
                        entitySelector.append('<div class="error">'+value+'</div>');
                    }
                }
            });
        });

        $("#anciens").click(function() {
            var that = this;
            var val = {{ article.idArticle }};
            var entitySelector = $("#result").html('');
            if (searchRequest != null)
                searchRequest.abort();
            searchRequest = $.ajax({
                type: "POST",
                url: "/triComments",
                dataType: "text",
                data:{
                    'type':2,
                    'idarticle':val
                },
                success: function(msg){
                    console.log(msg);
                    var result = JSON.parse(msg);
                    console.log(result)
                    if(result.length!==0){
                        for(let i = 0; i < result.length; i++){
                            entitySelector.append(
                                '<div class="media">'+
                                '<div class="image">'+
                                '<img class="d-flex justify-content-center align-self-center" src="images/team/marketing-team-03.jpg" alt="author-image">'+
                                '</div>'+
                                '<div class="media-body align-self-center">'+
                                '<h3>'+result[i].auteurC.nom+'</h3>'+
                                '<h6>'+result[i].datepub+'</h6>'+
                                '<p>'+result[i].contenuC+'</p>'+
                                '<ul class="list-inline social-links">'+
                                '<li class="list-inline-item"><a href="javascript:void(0)"><i class="ti-heart"></i> 2</a></li>'+
                                '</ul>'+
                                '</div>'+
                                '<div class="col-8 text-right">'+
                                '<a href="/updateComment/'+result[i].idcommentaire+'" class="text-dark"><i class="ti-reload"></i></a>'+
                                '<a href="/deleteComment/'+result[i].idcommentaire+'" class="text-danger"><i class="ti-trash"></i></a>'+
                                '</div>'+
                                '</div>'
                            );
                        }
                    }
                    else{
                        entitySelector.append('<div class="error">Aucun commentaire trouvé</div>');
                    }
                }
            });
        });
    });
</script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    function onclickBtnLike(event){
        event.preventDefault();
        const url = this.href;
        const spanCount = this.querySelector('span.js-likes');
        const icon = this.querySelector('i');
        axios.get(url).then(function(response){
           const reacts = response.data.react;
           spanCount.textContent = reacts;
           if(icon.classList.contains('fas')) {
               icon.classList.replace('fas', 'far');
           }
            else{
               icon.classList.replace('far', 'fas');
           }

        })
    }
    document.querySelectorAll('a.js-like').forEach(function (link){
        link.addEventListener('click',onclickBtnLike);
    })
</script>
{% endif %}
{% endblock %}
