{% extends 'base2.html.twig' %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col order-last">
                <div class="feature-image">
                    <img class="img-fluid" src="{{ asset('uploads/salles/' ~ salle.image ) }}" alt="feature-image">
                </div>
                <h4><strong>Capacité:</strong></h4>
                <p>{{salle.capacite}}</p>
                <h4><strong>Prix:</strong></h4>
                <p>{{salle.prixSalle}}</p>
            </div>
        </div>
    </div>
    <br>
    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table justify-content-center col-lg-12">
                                <tr>
                                    <th style="text-align: center">Client</th>
                                    <th style="text-align: center">Nombre des personnes</th>
                                    <th style="text-align: center">Date</th>
                                </tr>
                                <tbody>
                                {% for r in reservations %}
                                    <tr>
                                        <td style="text-align: center">{{ r.idClient.nom }} {{ r.idClient.prenom }}</td>
                                        <td style="text-align: center">{{ r.nbrp }}</td>
                                        <td style="text-align: center">{{ r.date|date('d-M-y') }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
            </div>
        </div>
    </div>

    <br>
    <div id="calendrier">
    </div>

    <script>
        window.onload = () => {
            let calendarElt = document.querySelector("#calendrier")

            let calendar = new FullCalendar.Calendar(calendarElt, {
                initialView: 'timeGridWeek',
                locale: 'fr',
                timeZone: 'Europe/Paris',
                headerToolbar: {
                    start: 'prev,next today',
                    center: 'title',
                    end: 'dayGridMonth,timeGridWeek'
                },
                events: {{ data|raw }},
                editable: true,
                eventResizableFromStart: true
            })

            calendar.render()
        }
    </script>

{% endblock %}
