{% extends 'base2.html.twig' %}
{% block content %}
    <div class="row justify-content-center">

        <div class="col-lg-8">

            <!-- Default Card Example -->
            <div class="card mb-6">
                <div class="card-header">
                    <a class="btn btn-outline-secondary" href="{{ path('salles') }}"><i
                                class="fa fa-arrow-left"></i> Retourner aux salles</a>

                    <h1>Modifier salle</h1>
                </div>
                <div class="card-body">
                    {{ form_start(S) }}
                    <form>
                        <div class="form-group">
                            <label class="form-label" for="exampleInputname">Nom de la salle</label>
                            {{ form_widget(S.nom , {'attr': {'class': 'form-control form-control-user' , 'placeholder' : 'Nom'}} ) }}
                            {{ form_errors(S.nom) }}
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="exampleInputEmail2">Prix de la salle</label>
                            {{ form_widget(S.prixsalle , {'attr': {'class': 'form-control form-control-user' , 'placeholder' : 'Prix'}} ) }}
                            {{ form_errors(S.prixsalle) }}
                        </div>
                        <img src="{{ asset('uploads/salles/' ~ salle.image ) }}" alt="" width="200" height="200">
                        <div class="form-group">
                            <label class="form-label" for="exampleInputPassword2">Image</label>
                            {{ form_widget(S.img) }}
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="exampleInputPassword2">Capacite</label>
                            {{ form_widget(S.capacite , {'attr': {'class': 'form-control form-control-user' , 'placeholder' : 'Capacite'}} ) }}
                            {{ form_errors(S.capacite) }}
                        </div>

                        <div class="form-group mb-4">
                            <div class="checkbox checkbox-secondary">
                                {{ form_widget(S) }}
                                <button type="SubmitType" class="btn btn-primary ">Modifier</button>
                            </div>
                        </div>
                    </form>
                {{ form_end(S) }}
            </div>
        </div>
    </div>

    </div>


    </div>
{% endblock %}
