{% extends 'base.html.twig' %}

{% block body %}
<section class="section page-title">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 m-auto">
                <!-- Page Title -->
                <h1>Mes livraisons</h1>
                <!-- Page Description -->
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-8 m-auto">
                <h3>Filtrer par type</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8 m-auto">
                <a href="{{ path('filtres',{'type': "rapide" }) }}" class="btn btn-outline-primary">rapide</a>
                <a href="{{ path('filtres',{'type': "normal" }) }}" class="btn btn-outline-primary">normal</a>
            </div>
        </div>
    </div>
    </div>
</section>
<section class="post-grid section pt-0">
        <div class="container">
            <br>
            <div id="result" class="row">
                {% for l in livraisons %}
                    <div class="container align-items-center">
                        <div class="row align-items-center ">
                            <div class="col-md-3">
                            </div>
                            <div class="col-md-6 align-items-center ">
                                <div class="card border-left-primary shadow h-100 py-2">
                                    <div class="card-body  align-items-center">
                                        <div class="row  align-items-center">
                                            <div class="col mr-2 align-items-center">
                                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                    Livraison N {{ l.idlivraison }} </div>
                                                <br>
                                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                    Type:
                                                </div>

                                                <div class="h5 mb-0 font-weight-bold text-gray-800">
                                                    {{ l.type }}
                                                </div>
                                                <br>
                                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                    Etat:
                                                </div>


                                                {% if l.etat == 0 %}
                                                    <h1 class="h5 mb-0 font-weight-bold text-gray-800">valide non
                                                        affecte</h1>
                                                    <br>

                                                {% endif %}
                                                {% if l.etat == 1 %}
                                                    <h1 class="h5 mb-0 font-weight-bold text-gray-800"> affecte en cours
                                                        de livraison</h1>
                                                {% endif %}

                                            </div>
                                            <div class="col-auto">
                                                <i class="fa-solid fa-truck-ramp-box"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                </div>
                                <br>
                            </div>
                            <div class="col-md-3">
                            </div>
                        </div>
                    </div>

                {% endfor %}
                <div class="justify-content-center">
                    <div class="navigation ">
                        {{ knp_pagination_render(livraisons) }}
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}