{% extends 'base2.html.twig' %}
{% block content %}
    <div class="row justify-content-center">

        <div class="col-lg-8">

            <!-- Default Card Example -->
            <div class="card mb-6">
                <div class="card-header">
                    <a class="btn btn-outline-secondary" href="{{ path('Livreurs') }}"><i
                                class="fa fa-arrow-left"></i> Retourner a la liste</a>

                    <h1>Modifier livreur</h1>
                </div>
                <div class="card-body">
                    {{ form_start(form,{attr:{novalidate:'novalidate'}}) }}

                    <form>
                        <div class="form-group">
                            <label class="form-label" for="exampleInputname">Nom de livreur</label>
                            {{ form_widget(form.nomlivreur , {'attr': {'class': 'form-control form-control-user' , 'placeholder' : 'Nom'}} ) }}
                            {{ form_errors(form.nomlivreur) }}
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="exampleInputEmail2">Numero de telephone</label>
                            {{ form_widget(form.numtel , {'attr': {'class': 'form-control form-control-user' , 'placeholder' : 'Numero'}} ) }}
                            {{ form_errors(form.numtel) }}
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="exampleInputPassword2">Prenom du livreur</label>
                            {{ form_widget(form.prenom , {'attr': {'class': 'form-control form-control-user' , 'placeholder' : 'Prenom'}} ) }}
                            {{ form_errors(form.prenom) }}
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="exampleInputPassword2">Email</label>
                            {{ form_widget(form.email , {'attr': {'class': 'form-control form-control-user' , 'placeholder' : 'Email'}} ) }}
                            {{ form_errors(form.email) }}
                        </div>

                        <div class="form-group mb-4 text-center">
                            <div class="checkbox checkbox-secondary">
                                {{ form_widget(form) }}
                                <button type="SubmitType" class="btn btn-outline-primary ">Modifier</button>
                            </div>
                        </div>
                    </form>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>

    </div>

{% endblock %}